nav {
    display: none !important;
    outline: none;
    border: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background: #23448f;
    z-index: 99;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.277);
}

.m_title_logo{
    margin-top: 15px;
    display: flex;
    margin-left: 10px;
    align-self: center;
    height: 40px;
    width: 155px;
}

.m-logo-svg{
    width: 40px;
    height: 100%;
}

.m_title{
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
    width: 110px;
    text-align: start;
    font-size: 1.1rem;
}

.list {
    box-shadow: 0px 1px 9px 0px rgb(0 0 0 / 28%);
    margin-top: 15.4px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffff;
    cursor: pointer;
}

.toggle {
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 5px;
    border: none;
    background: none;
    width: 40px;
}

.toggle svg  {
    color: #fff;
    font-size: 2rem !important;
}

.notification-element{
    bottom: 1.8rem;
    left: 1.4rem;
    width: 15px;
    height: 15px;
    background: #56b947;
    border-radius: 50%;
    position: absolute;
    font-size: .7rem;
    text-align: center;
    color: #fff;
}

.m-user{
    position: absolute;
    right: 50px;
    top: 17px;
    padding: 5px;
    border: none;
    background: none;
    width: 40px;
}

.m-user svg{
    color: #fff;
    font-size: 1.7rem !important;
}

@media screen and (max-width: 992px){
    nav {
        display: block !important;
    }    
}

@media screen and (max-width: 500px) {
    .accordion-ul {
        padding: 0;
        width: 100%;
        height: 80px;
        cursor: pointer;
        text-align: start;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .accordion-ul li{
        
    }

    .accordion-item,
    .accordion-header button {
        /* color: #fff !important;
        background: #23448f !important; */
        
        border: none !important;
    }

    .accordion-button::after{
        color: #56B947 !important;
    }

    .accordion-collapse{
        background: #23448f !important;   
    }

    .accordion-item{
        background: none !important;
    }

    .accordion-body{}

    .accordion-header{
    
    }

    .svg-inline--fa {
        vertical-align: none !important;
    }

    .list {
        border: 10px solid #23448f;
        background: #23448f;
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .items:nth-child(1) {
        margin-top: 5vh;
    }

    .items {
        background: #23448f;
        width: 90%;
        text-align: center;
        margin-right: 0px;
    }
}
